@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
body {
  font: "Heebo", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  margin-top: 130px;
  margin-left: 30px;
  background-color: #09182c;
  line-height: 1.5;
  max-height: auto;
}

@media all and (max-width: 768px) {
  body {
    margin-top: 80px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1rem;
  }
}

.type-thin {
  font-family: "Heebo", sans-serif;
  font-weight: 100;
}

.type-light {
  font-family: "Heebo", sans-serif;
  font-weight: 300;
}

.type-regular {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

.type-medium {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
}

.type-bold {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
}

.type-h1 {
  font-size: 2.7rem;
}

.type-h2 {
  font-size: 2rem;
}

.type-h3 {
  font-size: 1.5rem;
}

.type-h4 {
  font-size: 1.25rem;
}

.type-h5 {
  font-size: 1.125rem;
}

.c-blanco {
  color: #ffffff;
}

.c-fondo {
  color: #09182c;
}

.c-azul {
  color: #003479;
}

.c-rosa {
  color: #D45153;
}

.c-violeta {
  color: #8E3478;
}

.c-gris {
  color: #bababa;
}

.c-celeste {
  color: #72d0eb;
}

.c-negro {
  color: #000000;
}

@media all and (min-width: 769px) {
  .type-h1 {
    font-size: 3.24rem;
  }
  .type-h2 {
    font-size: 2.4rem;
  }
  .type-h3 {
    font-size: 1.8rem;
  }
  .type-h4 {
    font-size: 1.5rem;
  }
  .type-h5 {
    font-size: 1.35rem;
  }
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #09182c;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 80%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

header nav a {
  margin-top: 1em;
  width: 7.5em;
  text-decoration: none;
}

header nav img {
  width: 8em;
  -ms-flex-line-pack: center;
      align-content: center;
}

header nav button {
  color: #ffffff;
  background: none;
  border: none;
  font-size: 1.2em;
  padding: 0 20px;
  display: none;
  cursor: pointer;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  list-style: none;
}

header nav ul li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 25px;
  font: "Heebo", sans-serif;
  text-align: center;
  color: #ffffff;
}

header nav ul li a {
  color: #ffffff;
  padding: 8px;
  margin: auto;
}

header nav ul li a:hover {
  color: #72d0eb;
  text-decoration: none;
}

@media all and (max-width: 768px) {
  header {
    height: 70px;
    width: 100vw;
    opacity: 100%;
  }
  header nav a {
    margin-top: 0.5em;
    width: 7.5em;
    text-decoration: none;
  }
  header nav img {
    margin-top: 2px;
    max-height: 60px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header nav button {
    display: block;
    font-size: 0.9em;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    background-color: #09182c;
    position: fixed;
    top: 69px;
    width: 100vw;
    padding: 20px 0;
    left: 100%;
    -webkit-transition: left 500ms;
    transition: left 500ms;
  }
  header nav ul li {
    padding: 6px;
  }
  .menu-visible {
    left: 0%;
  }
}

p {
  color: #ffffff;
}

.margenDiv {
  margin-top: -40px;
  margin-bottom: 40px;
}

.textoDerecha {
  text-align: right;
}

.textoIzquierda {
  text-align: left;
}

.textoCentrado {
  text-align: center;
}

.button {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
}

.button .button__decoration {
  width: 1.5em;
  height: 1.5em;
  border: 0;
  border-radius: 100%;
  background-color: #D45153;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 500ms;
  transition: 500ms;
  font-size: 1.2rem;
  color: #ffffff;
}

.button .button__decoration:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.button .button__decoration--mayor {
  width: 2.5em;
  height: 2.5em;
  border: 0;
  border-radius: 100%;
  background-color: #D45153;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 500ms;
  transition: 500ms;
  margin-left: 20em;
  font-size: 2rem;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button .button__decoration--mayor:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.forms {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.forms .forms__input {
  margin-top: 15px;
  -webkit-transition: 500ms;
  transition: 500ms;
  background-color: #09182c;
  color: #ffffff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.2;
  border-color: #72d0eb;
}

.forms .forms__input:hover {
  border-color: #8E3478;
}

.forms .forms__input:focus {
  background-color: #0e2036;
  border: 0;
  outline: none;
}

.forms .forms__textarea {
  margin-top: 15px;
  resize: none;
  -webkit-transition: 500ms;
  transition: 500ms;
  height: 10em;
  background-color: #09182c;
  color: #ffffff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.5;
  border-color: #72d0eb;
}

.forms .forms__textarea:hover {
  border-color: #8E3478;
}

.forms .forms__textarea:focus {
  background-color: #0e2036;
  border: 0;
  outline: none;
}

.servicios {
  background-color: #09182c;
  border: 1;
  border-color: #ffffff;
  border-radius: 2%;
  margin-left: 75px;
  margin-top: -10px;
  padding: 1em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  color: #ffffff;
}

.servicios:hover {
  background: linear-gradient(200deg, #72d0eb 0%, #b968a5 100%);
  border: none;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  color: #09182c;
}

.servicios .servicios__icon {
  margin-top: 3.8em;
  margin-right: 3.5em;
  margin-left: 2em;
  -webkit-transform: scale(4);
          transform: scale(4);
  color: #72d0eb;
  padding: 0.5em;
}

.servicios .servicios__icon:hover {
  color: #09182c;
}

.servicios .servicios__seccion {
  border: 0;
}

.servicios .servicios__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.servicios .servicios__i {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  margin-left: 1.25em;
  -webkit-transform: scale(3);
          transform: scale(3);
  color: #72d0eb;
}

.servicios .servicios__i--dif {
  margin-left: 500px;
  margin-bottom: 2.6em;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.servicios .servicios__li {
  font-family: "Heebo", sans-serif;
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
}

.servicios .servicios__items {
  margin-top: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.servicios .servicios__box {
  width: 14em;
  height: 14em;
  border: #8E3478 1px solid;
  border-radius: 10%;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.servicios .servicios__box:hover {
  background-color: #72d0eb;
  color: #ffffff;
  border: 0;
}

.servicios .servicios__text {
  margin-top: 3em;
}

.servicios .servicios__text--mod {
  margin-top: 3.5em;
}

.contacto__button {
  margin-left: 400px;
  margin-top: 15px;
  border: 0;
  padding: 2px 10px;
  background-color: #09182c;
  -webkit-transition: 500ms;
  transition: 500ms;
  text-align: center;
  font-size: 30px;
  color: #72d0eb;
}

.contacto__button:hover {
  background: linear-gradient(200deg, #72d0eb 0%, #b968a5 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contacto__button--mod {
  color: #72d0eb;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.contacto__button--mod:hover {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  text-shadow: none;
  background: linear-gradient(200deg, #72d0eb 0%, #b968a5 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contacto__iframe {
  margin-top: 30px;
  width: 98vw;
  height: 50vh;
  margin-left: -42px;
}

.contacto__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 420px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../media/contactobannerDesk.png);
  margin-bottom: 10px;
  margin-top: -30px;
  margin-left: -15px;
}

.contacto__banner--titulo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.ficha {
  border: #72d0eb 1px solid;
  border-radius: 2%;
  -webkit-transition: 1000ms;
  transition: 1000ms;
  margin-left: 80px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.ficha:hover {
  background: -webkit-gradient(linear, left top, right top, from(#72d1eb), color-stop(53%, #817eae), to(#8e3477));
  background: linear-gradient(to right, #72d1eb 0%, #817eae 53%, #8e3477 100%);
  border: none;
}

.ficha .ficha__text {
  color: #ffffff;
}

.ficha .ficha__text:hover {
  color: #09182c;
}

.ficha .ficha__i {
  color: #ffffff;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.ficha .ficha__i:hover {
  padding: 0.5em;
  color: #09182c;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

@media all and (max-width: 540px) {
  .textoDerecha {
    text-align: left;
  }
  .servicios {
    margin-left: 0;
    margin-top: -10px;
    padding: 1em;
  }
  .servicios:hover {
    -webkit-box-shadow: -1px 1px 1px 2px #527ebe9a;
            box-shadow: -1px 1px 1px 2px #527ebe9a;
    border-color: #ffffff;
  }
  .servicios .servicios__icon {
    margin-top: 1em;
    margin-right: 3.5em;
    margin-left: 2em;
    margin-bottom: 1em;
    -webkit-transform: scale(4);
            transform: scale(4);
    color: #72d0eb;
    padding: 0.5em;
  }
  .servicios .servicios__icon:hover {
    color: #ffffff;
  }
  .forms {
    margin-left: 1em;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .forms .forms__input {
    margin-top: 10px;
    width: 85vw;
  }
  .forms .forms__textarea {
    margin-top: 10px;
    height: 4em;
    width: 85vw;
  }
  .contacto__button {
    margin-left: 260px;
    margin-top: 10px;
  }
  .contacto__iframe {
    margin-left: -20px;
    margin-top: 15px;
    width: 100vw;
    height: 50vh;
  }
  .contacto__banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../media/contactobannerMov.png);
    margin-bottom: 5px;
    margin-top: -30px;
    margin-left: 0;
  }
  .contacto__banner--titulo {
    padding: 0 8px;
  }
  .ficha {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .servicios {
    margin-left: 0px;
    margin-top: -10px;
    padding-top: 2em;
    padding-left: 0;
    padding-right: 0;
    width: 50vw;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .servicios:hover {
    -webkit-box-shadow: 0px 0px 0px 0px;
            box-shadow: 0px 0px 0px 0px;
    border-color: #72d0eb;
  }
  .servicios .servicios__icon {
    margin-top: 3.8em;
    margin-right: 1.5em;
    margin-left: 2em;
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    color: #72d0eb;
    padding: 0.5em;
  }
  .servicios .servicios__icon:hover {
    color: #72d0eb;
  }
  .contacto__iframe {
    margin-left: -20px;
    margin-top: 25px;
    width: 100vw;
    height: 40vh;
  }
  .contacto__banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../media/contactobannerDesk.png);
    margin-bottom: -15px;
    margin-top: -30px;
    margin-left: -15px;
  }
  .ficha {
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.svgImg_back {
  z-index: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  position: relative;
  top: -80px;
  left: -40px;
}

.svgImg_back-2 {
  z-index: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  position: relative;
  top: -100px;
  left: 0px;
}

.svgImg_med {
  z-index: 1;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: scale(1);
          transform: scale(1);
  position: relative;
  top: -580px;
}

.svgImg_med:hover {
  z-index: 4;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.svgImg_med-2 {
  z-index: 1;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: scale(1);
          transform: scale(1);
  position: relative;
  top: -580px;
}

.svgImg_med-2:hover {
  z-index: 4;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.svgImg_med-mod {
  z-index: 2;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  position: relative;
  top: -970px;
  left: -85px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.svgImg_med-mod-2 {
  z-index: 2;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  position: relative;
  top: -1000px;
  left: 350px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.svgImg_front {
  z-index: 3;
  -webkit-transform: scale(1);
          transform: scale(1);
  position: relative;
  top: -1490px;
  left: -50px;
  -webkit-animation-name: mas;
          animation-name: mas;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes mas {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes mas {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.svgImg_front-2 {
  z-index: 3;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  position: relative;
  top: -1610px;
  left: -300px;
}

.svgImg_front-mod {
  z-index: 2;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  position: relative;
  top: -1220px;
  left: -60px;
}

.svgImg_front-mod-2 {
  z-index: 2;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  position: relative;
  top: -1620px;
  left: 260px;
}

.objfit {
  overflow-x: hidden;
  overflow-y: visible;
  padding-top: 13px;
}

.largo {
  height: 560px;
}

.order1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media all and (max-width: 540px) {
  .svgImg_back {
    z-index: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    position: relative;
    top: auto;
    left: 0;
  }
  .svgImg_back-2 {
    z-index: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    position: relative;
    top: -10px;
    left: 0;
  }
  .svgImg_med {
    width: 100vw;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-filter: none;
            filter: none;
    top: -420px;
    left: -15px;
  }
  .svgImg_med:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    z-index: 1;
  }
  .svgImg_med-2 {
    width: 100vw;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-filter: none;
            filter: none;
    top: -420px;
    left: -10px;
  }
  .svgImg_med-2:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    z-index: 1;
  }
  .svgImg_med-mod {
    display: none;
  }
  .svgImg_front {
    top: -782px;
    left: auto;
  }
  .svgImg_front-2 {
    top: -1235px;
    left: auto;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .svgImg_front-mod {
    top: -607px;
    left: auto;
  }
  .svgImg_front-mod-2 {
    z-index: 2;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    position: relative;
    top: -1075px;
    left: 20px;
  }
  .largo {
    height: 860px;
  }
  .order1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .svgImg_back {
    z-index: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    position: relative;
    top: 0;
    left: -20px;
  }
  .svgImg_back-2 {
    z-index: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    position: relative;
    top: -50px;
    left: 0;
  }
  .svgImg_med {
    width: 50vw;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: none;
            filter: none;
    top: -439px;
    left: -40px;
  }
  .svgImg_med:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 1;
  }
  .svgImg_med-2 {
    width: 50vw;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: none;
            filter: none;
    top: -510px;
    left: -10px;
  }
  .svgImg_med-2:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 1;
  }
  .svgImg_med-mod {
    display: none;
  }
  .svgImg_front {
    top: -820px;
    left: auto;
  }
  .svgImg_front-2 {
    top: -1375px;
    left: 0px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .svgImg_front-mod {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    top: -620px;
    left: -20px;
  }
  .svgImg_front-mod-2 {
    z-index: 2;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    position: relative;
    top: -1170px;
    left: 10px;
  }
  .largo {
    height: 460px;
  }
}

footer {
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffff;
  border-top: #003479 2px solid;
  margin-top: 1.25em;
  margin-left: 1.25em;
  margin-right: 1.25em;
}

footer div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.25em;
  margin-right: 1.25em;
}

footer div p {
  display: inline-block;
  color: #000000;
  font-family: "Heebo", sans-serif;
  margin-top: 1.5625em;
}

footer div form {
  margin-left: 0.9375em;
}

footer div form input {
  width: 12.5em;
  -webkit-box-shadow: -1px 2px 2px 0px #bababa;
          box-shadow: -1px 2px 2px 0px #bababa;
  margin-top: 27px;
  border: 0;
  border-radius: 3%;
  font: "Heebo", sans-serif;
  font-size: 100%;
  color: #ffffff;
  -webkit-transition: 500ms;
  transition: 500ms;
}

footer div form input:hover {
  width: 12.5em;
  -webkit-box-shadow: -1px 2px 2px 0px #D45153;
          box-shadow: -1px 2px 2px 0px #D45153;
  margin-top: 27px;
  border: 0;
  border-radius: 3%;
  font: "Heebo", sans-serif;
  font-size: 100%;
  color: #ffffff;
}

footer div form button {
  margin-top: 0.9375em;
  padding: 0.375em 0.9375em;
  background-color: #ffffff;
  -webkit-transition: 500ms;
  transition: 500ms;
  border: #8E3478 2px solid;
}

footer div form button:hover {
  border: #72d0eb 2px solid;
}

footer div form button img {
  margin-left: .1875em;
}

footer div a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .3125em;
}

footer div a img {
  display: inline-block;
  margin-top: 1.5625em;
  width: 1.875em;
  height: 1.875em;
}
/*# sourceMappingURL=estilos.css.map */