footer{
    background-color: $fondo;
    border-top: $celeste 1px solid;
    margin-top: 1.25em;  
    margin-right: 1em;
    margin-bottom: 20px;
    h5{
        margin-top: 1.5em;
        margin-bottom: -0.3em;
        color: $blanco;
        font-size: 1rem;
    }
    a{
        text-decoration: none;
        color: $blanco;
        &:hover{
            transform: scale(4.3);
            background: linear-gradient(200deg, rgba(114,208,235,1) 0%, rgb(185, 104, 165) 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }
}