p{
    color: $blanco;
}

.margenDiv{
	margin-top: -40px;
    margin-bottom: 40px;
}

.textoDerecha{
	text-align: right;
}

.textoIzquierda{
	text-align: left;
}

.textoIzquierdaS{
    text-align: left;
}

.textoCentrado{
	text-align: center;
}


.button{
    margin: auto;
    justify-content: center;
    display: inline-block;
    .button__decoration{
        @include button(1.5em, 1.5em, 0, 100%, $rosa);
        font-size: 1.2rem;
        color: $blanco;
        &:hover{
            transform: scale(1.5)
        }
    }
    .button__decoration--mayor{
        @include button(2.5em, 2.5em, 0, 100%, $rosa);
        margin-left: 20em;
        font-size: 2rem;
        color: $blanco;
        justify-content: center;
        &:hover{
            transform: scale(1.2)
        }
    }
}

.forms{
    display: inline-flex;
    flex-direction: column;
    .forms__input{
        margin-top: 15px;
        transition: 500ms;
        background-color: $fondo;
        color: $blanco;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0.2;
        border-color: $celeste;
        &:hover{
            border-color: $violeta;
        }
        &:focus{
            background-color: #0e2036;
            border: 0;
            outline: none;
        }
    }
    .forms__textarea{
        margin-top: 15px;
        resize: none;
        transition: 500ms;
        height: 10em;
        background-color: $fondo;
        color: $blanco;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0.5;
        border-color: $celeste;
        &:hover{
            border-color: $violeta;
        }
        &:focus{
            background-color: #0e2036;
            border: 0;
            outline: none;
        }
    }
}

.servicios{
    background-color: $fondo;
    border: $celeste 1px solid;
    border-radius: 2%;
    margin-left: 75px;
    margin-top: -10px;
    padding: 1em;
    transform: scale(1);
    transition-duration: 300ms;
    color: $blanco;
    &:hover{
        background: linear-gradient(200deg, rgba(114,208,235,1) 0%, rgb(185, 104, 165) 100%);
        border: none;
        transform: scale(1.05);
        color: $fondo;
    }
}

.servicios__icon{
    margin-top: 3.8em;
    margin-right: 3.5em;
    margin-left: 2em;
    transform: scale(4);
    color: $blanco;
    padding: 0.5em;
    transition: 500ms;
    &:hover{
        color: $fondo;
    }
}

.servicios__iconD{
    color: $celeste;
    transition: 600ms;
    font-size: 4.5em;
    margin-bottom: 30px;
    margin-left: 10px;
    &:hover{
        transform: rotate(30deg);
        background: linear-gradient(200deg, rgba(114,208,235,1) 0%, rgb(185, 104, 165) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.servicios__li{
    font-family: $font;
    list-style-type: none;
    list-style-position: outside;
    padding-left:0;
    color: $blanco
}

.servicios__liCollapse{
    font-family: $font;
    list-style-type: none;
    padding-left:0;
    color: $blanco;
    margin-left: 15px;
}

.servicios__collapse{
    color: $blanco;
    border: none;
    background: $fondo;
    &:focus{
        outline: none;
    }
}

.servicios__img{
    object-fit: cover;
    filter: grayscale(100);
    margin-top: -10px;
    margin-left: 15px;
    &:hover{
        filter: grayscale(0);
    }
}

.servicios__img2{
    object-fit: cover;
    filter: grayscale(100);
    margin-top: 30px;
    margin-left: 15px;
    &:hover{
        filter: grayscale(0);
    }
}

.servicios__items{
    margin-top: -50px;
    align-content: center;
    margin-left: -30px;
}


.contacto__button{
    margin-left: 400px;
    margin-top: 15px;
    border: 0;
    padding: 2px 10px;
    background-color: $fondo;
    transition: 500ms;
    text-align: center;
    font-size: 30px;
    color: $celeste;
    &:hover{
        background: linear-gradient(200deg, rgba(114,208,235,1) 0%, rgb(185, 104, 165) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; 
    }
    &:focus{
        border: 0;
        outline: none; 
    }
}
.contacto__button--mod{
    color: $celeste;
    transition: 600ms;
    &:hover{
        transform: rotate(140deg);
        background: linear-gradient(200deg, rgba(114,208,235,1) 0%, rgb(185, 104, 165) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.contacto__iframe{
    margin-top: 30px;
    width: 98vw;
    height: 50vh;
    margin-left: -42px;
}

.contacto__banner{
    @include banner(420px);
    background-image: url(../media/contactobannerDesk.png);
    margin-bottom: 10px;
    margin-top: -30px;
    margin-left: -15px;
}

.contacto__banner--titulo{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.ficha{
    border: $celeste 1px solid;
	border-radius: 2%;
    transition: 1000ms;
    margin-left: 80px;
    margin-top: 70px;
    margin-bottom: 60px;
    &:hover{
        background: linear-gradient(to right, rgba(114,209,235,1) 0%, rgba(129,126,174,1) 53%, rgba(142,52,119,1) 100%);
        border: none;
    }
    .ficha__text{
        color: $blanco;
        &:hover{
            color: $fondo;
        }
    }
    .ficha__i{
        color: $blanco;
        transition: 400ms;
        text-decoration: none;
        &:hover{
            padding: 0.5em;
            color: $fondo;
            transform: rotate(-10deg);
        }
    }
}

.recibe{
    padding: 100px 60px;
}

.recibe__Icon{
    color: $celeste;
    transform: scale(4);
    transition: 600ms;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 120px;
    &:hover{
        transform: scale(4.3);
        background: linear-gradient(200deg, rgba(114,208,235,1) 0%, rgb(185, 104, 165) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.trabajo__foto{
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    object-fit: cover;
    filter: grayscale(100);
    margin-left: 0px;
    transition: 500ms;
    &:hover{
        filter: grayscale(0);
    }
}

.trabajo__foto--tab{
    display: none;
}

.trabajo__icon{
    margin-top: 70px;
    &:hover{
        animation-name: iconT;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }
    @keyframes iconT {
        0% {
            transform: scale(1);
            background: linear-gradient(200deg, #b96464 0%, #D45153 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        50% {
            transform: scale(1.3);
            background: linear-gradient(80deg, #b96464 0%, #D45153 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        100% {
            transform: scale(1);
            background: linear-gradient(200deg, #b96464 0%, #D45153 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }
}

.trabajo__logo{
    &:hover{
        transform: scale(1.2);
    }
}

.trabajo__ficha{
    border: $celeste 2px solid;
	border-radius: 2px;
    transition: 1000ms;
    margin-left: 200px;
    margin-top: 70px;
    margin-bottom: 60px;
    &:hover{
        background: linear-gradient(to right, rgba(114,209,235,1) 0%, rgba(129,126,174,1) 53%, rgba(142,52,119,1) 100%);
        border: none;
    }
}

@media all and (min-width: 360px) and (max-width: 540px) {
    .textoDerecha{
        text-align: left;
    }
    .servicios{
        margin-left: 0;
        margin-top: -10px;
        padding: 1em;
        &:hover{
            transform: scale(1);
        }
        .servicios__icon{
            margin-top: 1em;
            margin-right: 3.5em;
            margin-left: 2em;
            margin-bottom: 1em;
            transform: scale(4);
            color: $celeste;
            padding: 0.5em;
            &:hover{
                color: $blanco;
            }
        }
    }

    .servicios__items{
        margin-top: 0px;
        align-content: center;
        margin-left: 0px;
    }

    .servicios__img{
        overflow-x:visible;
        overflow-y: hidden;
        filter: grayscale(0);
        margin-top: 0px;
        margin-left: -4px;
        margin-bottom: 20px;
        width: 92vw;
    }
    
    .servicios__img2{
        overflow-x:visible;
        overflow-y: hidden;
        filter: grayscale(0);
        margin-top: 0px;
        margin-left: -4px;
        margin-bottom: 20px;
        width: 92vw;
    }
    

    .forms{
        margin-left: 0em;
        display: block;
        flex-direction: column;
        .forms__input{
            margin-top: 10px;
            width: 85vw;
        }
        .forms__textarea{
            margin-top: 10px;
            height: 4em;
            width: 85vw;
        }
    }
    .contacto__button{
        margin-left: 260px;
        margin-top: 10px;
    }
    
    .contacto__iframe{
        margin-left: -20px;
        margin-top: 15px;
        width: 100vw;
        height: 50vh;
    }
    
    .contacto__banner{
        @include banner(290px);
        background-image: url(../media/contactobannerMov.png);
        margin-bottom: 5px;
        margin-top: -30px;
        margin-left: 0;
    }
    
    .contacto__banner--titulo{
        padding: 0 8px;
    }
    .ficha{
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .trabajo__foto{
        filter: grayscale(0);
        margin-left: 8px;
    }

    
    .trabajo__icon{
        margin-top: -30px;
        text-align: center;
        &:hover{
            animation-duration: 0;
        }
    }
    
    .trabajo__ficha{
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
    .textoIzquierdaS{
        text-align: center;
    }
    .servicios{
        margin-left: 0px;
        margin-top: -10px;
        padding-top: 2em;
        padding-left: 0;
        padding-right: 0;
        width: 50vw;
        transform: scale(0.85);
        &:hover{
        box-shadow:  0px 0px 0px 0px;
        border-color: $celeste;}
        transform: scale(0.9);
        .servicios__icon{
            margin-top: 3.8em;
            margin-right: 1.5em;
            margin-left: 2em;
            transform: scale(3.5);
            color: $celeste;
            padding: 0.5em;
            &:hover{
                color: $celeste;
            }
        }
    }

    .servicios__img{
        overflow-x:visible;
        overflow-y: hidden;
        filter: grayscale(0);
        margin-top: -40px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    
    .servicios__img2{
        overflow-x:visible;
        overflow-y: hidden;
        filter: grayscale(0);
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
        width: 92vw;
    }
    
    .servicios__items{
        margin-top: 0px;
        margin-left: 0px;
    }
     
    .contacto__iframe{
        margin-left: -20px;
        margin-top: 25px;
        width: 100vw;
        height: 40vh;
    }
    
    .contacto__banner{
        @include banner(360px);
        background-image: url(../media/contactobannerDesk.png);
        margin-bottom: -15px;
        margin-top: -30px;
        margin-left: -15px;
    }
    
    .ficha{
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .trabajo__foto{
        filter: grayscale(0);
    }
    
    .trabajo__foto--tab{
        display: inline-block;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-right-radius: 100%;
        object-fit: cover;
        margin-left: 0px;
        margin-top: 15px;
    }

    .trabajo__icon{
        margin-top: 40px;
        &:hover{
            animation-duration: 0;
        }
    }

    .trabajo__ficha{
        margin-left: 130px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}