.svgImg_back{
    z-index: 0;
    transform: scale(1.1);
    position: relative;
    top: -80px;
    left: -40px;
}

.svgImg_back-2{
    z-index: 0;
    transform: scale(1.1);
    position: relative;
    top: -100px;
    left: 0px;

}

.svgImg_med{
    z-index: 1;
    filter: grayscale(100);
    transition: 500ms;
    transform: scale(0.52);
    position: relative;
    top: -850px;
    left: -400px;
    &:hover{
        z-index: 4;
        transform: scale(0.53);
        filter: grayscale(0);
    }
}

.svgImg_med-2{
    z-index: 1;
    filter: grayscale(100);
    transition: 500ms;
    transform: scale(0.52);
    position: relative;
    top: -870px;
    left: -400px;
    &:hover{
        z-index: 4;
        transform: scale(0.53);
        filter: grayscale(0);
    }
}

.svgImg_med-mod{
    z-index: 2;
    filter: grayscale(100);
    position: relative;
    top: -1720px;
    left: -300px;
    transform: scale(0.55);
}

.svgImg_med-mod-2{
    z-index: 2;
    filter: grayscale(100);
    position: relative;
    top: -1770px;
    left: 100px;
    transform: scale(0.55);
}

.svgImg_front{
    z-index: 3;
    transform: scale(1);
    position: relative;
    top: -2380px;
    left: -50px;
    animation-name: mas;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
}

@keyframes mas{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.svgImg_front-2{
    z-index: 3;
    transform: scale(0.25);
    position: relative;
    top: -2550px;
    left: -300px;
}

.svgImg_front-mod{
    z-index: 2;
    transform: scale(0.9);
    position: relative;
    top: -2120px;
    left: -60px;
}

.svgImg_front-mod-2{
    z-index: 2;
    transform: scale(0.25);
    position: relative;
    top: -2590px;
    left: 250px;
}

.objfit{
    overflow-x: hidden;
    overflow-y: visible;
    padding-top: 13px;
}

.largo{
    height: 560px;
}

.order1{
    order: 1;
}

.order2{
    order: 2;
}

@media all and (max-width: 540px) {
    .svgImg_back{
        z-index: 0;
        transform: scale(1.1);
        position: relative;
        top: auto;
        left: 0;
    }
    .svgImg_back-2{
        z-index: 0;
        transform: scale(1.1);
        position: relative;
        top: -10px;
        left: 0;
    }
    .svgImg_med{
        width: 100vw;
        transform: scale(0.9);
        filter: none;
        top: -420px;
        left: -15px;
        &:hover{
            transform: scale(0.9);
            z-index: 1;
        }
    }
    .svgImg_med-2{
        width: 100vw;
        transform: scale(0.9);
        filter: none;
        top: -420px;
        left: -10px;
        &:hover{
            transform: scale(0.9);
            z-index: 1;
        }
    }
    .svgImg_med-mod{
        display: none;
    }
    .svgImg_front{
        top: -782px;
        left: auto;
    }
    .svgImg_front-2{
        top: -1580px;
        left: auto;
        transform: scale(0.9);
    }
    .svgImg_front-mod{
        top: -607px;
        left: auto;
    }
    .svgImg_front-mod-2{
        z-index: 2;
        transform: scale(0.9);
        position: relative;
        top: -1425px;
        left: 20px;
    }
    .largo{
        height: 820px;
    }
    .order1{
        order: 2;
    }
    .order2{
        order: 1;
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
    .svgImg_back{
        z-index: 0;
        transform: scale(1.1);
        position: relative;
        top: 0;
        left: -20px;
    }
    .svgImg_back-2{
        z-index: 0;
        transform: scale(1);
        position: relative;
        top: -50px;
        left: 0;
    }
    .svgImg_med{
        width: 50vw;
        transform: scale(1);
        filter: none;
        top: -439px;
        left: -40px;
        &:hover{
            transform: scale(1);
            z-index: 1;
        }
    }
    .svgImg_med-2{
        width: 50vw;
        transform: scale(1);
        filter: none;
        top: -510px;
        left: -10px;
        &:hover{
            transform: scale(1);
            z-index: 1;
        }
    }
    .svgImg_med-mod{
        display: none;
    }
    .svgImg_front{
        top: -820px;
        left: auto;
    }
    .svgImg_front-2{
        top: -1715px;
        left: 0px;
        transform: scale(0.9);
    }
    .svgImg_front-mod{
        transform: scale(0.9);
        top: -620px;
        left: -20px;
    }
    .svgImg_front-mod-2{
        z-index: 2;
        transform: scale(0.9);
        position: relative;
        top: -1520px;
        left: 10px;
    }
    .largo{
        height: 460px;
    }
}